In [2]:
import pandas as pd
df = pd.read_csv('data/modified/pokemon.csv')
df.head(7)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,534,1,False

# Filtrando dados

In [3]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [4]:
df.loc[(df['Type 1']== 'Bug') & (df['Type 2']== 'Fire')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
697,636,Larvesta,Bug,Fire,55,85,55,50,55,60,360,5,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,550,5,False

In [5]:
df.loc[(df['Type 1']== 'Dragon') | (df['Type 2']== 'Steel')].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
88,81,Magnemite,Electric,Steel,25,35,70,95,55,45,325,1,False
89,82,Magneton,Electric,Steel,50,60,95,120,70,70,465,1,False
159,147,Dratini,Dragon,NaN,41,64,45,50,50,50,300,1,False
160,148,Dragonair,Dragon,NaN,61,84,65,70,70,70,420,1,False
161,149,Dragonite,Dragon,Flying,91,134,95,100,100,80,600,1,False

In [6]:
df.loc[(df['Type 1'] == 'Bug') & (df['HP'] >= 80)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,500,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,600,2,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,515,4,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,495,5,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,550,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,411,6,False

In [7]:
df.loc[(df['Type 1'] == 'Fire') & (df['HP'] >= 80)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,555,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,580,1,True
263,244,Entei,Fire,NaN,115,115,85,90,75,100,580,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,680,2,True
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,530,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,630,3,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,600,4,True
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,528,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,480,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,540,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,484,5,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

### Quantidade de pokemons tipo água que tem mais de 100 de HP

In [8]:
def filter_per_group_by_limit(df, col_group, col_confer, value):
    u_types = df[col_group].unique()
    df_list = {}
    
    for u_type in u_types:
        df_list[u_type] = df.loc[(df[col_group]== u_type) & (df[col_confer]>= value)]
        
    return df_list

In [9]:
filter_per_group_by_limit(df, 'Type 1', 'HP', 100)['Water'].count()[0]

18

# Resetando index

In [10]:
df_2 = df.loc[(df['Total']>=700)]
df_2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,1,True
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,700,2,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,700,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,700,3,False
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,700,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,700,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,770,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,770,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,3,True
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,700,4,False
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,720,4,True
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,700,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,700,5,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True

In [11]:
df_2.reset_index(inplace = True)
df_2

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,1,True
1,164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,1,True
2,268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,700,2,False
3,409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,700,3,False
4,413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,700,3,False
5,418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,700,3,True
6,420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,700,3,True
7,422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,770,3,True
8,424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,770,3,True
9,426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,3,True
10,494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,700,4,False
11,552,493,Arceus,Normal,NaN,120,120,120,120,120,120,720,4,True
12,711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,700,5,True
13,712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,700,5,True
14,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True

# Regex

In [12]:
df.loc[df['Name'].str.contains('Mega')].head()
#Pega todos os mega

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False

In [13]:
df.loc[~df['Name'].str.contains('Mega')].head()
# Pega todos que não são mega

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,False

In [14]:
import re

In [15]:
df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]
# Pega todos que forem tipo fogo ou grama

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [16]:
df.loc[df['Type 1'].str.contains('fIre|iCe',flags=re.I, regex=True)]
# Não case sensitive

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,534,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,304,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,514,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [17]:
df.loc[df['Name'].str.contains('^Ra', regex=True)]
#Pega todos que o nome começa com 'Ra'

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
24,19,Rattata,Normal,NaN,30,56,35,25,35,72,253,1,False
25,20,Raticate,Normal,NaN,55,81,60,50,70,97,413,1,False
31,26,Raichu,Electric,NaN,60,90,55,90,80,110,485,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,500,1,False
262,243,Raikou,Electric,NaN,90,85,75,115,100,115,580,2,True
303,280,Ralts,Psychic,Fairy,28,25,25,45,35,40,198,3,False
425,384,Rayquaza,Dragon,Flying,105,150,90,150,90,95,680,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,3,True
454,409,Rampardos,Rock,NaN,97,165,60,65,50,58,495,4,False

# Fazendo mudanças a partir de uma condicional

In [18]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [19]:
df.loc[df['Type 1'] == 'Ghost', 'Type 1'] = 'Phantom'
df.loc[df['Type 2'] == 'Ghost', 'Type 2'] = 'Phantom'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Phantom,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [20]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Phantom', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [21]:
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Phantom', 'Bug', 'Normal'], dtype=object)

# Agregação com groupby

## Pegando a média dos grupos

In [47]:
df2 = pd.DataFrame({'Animal': ['Falcon', 'Falcon','Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

df2.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [48]:
# Forma grupos a partir de valores iguais
#df.groupby(['Type 1']).mean() 
#dá erro por conta dos valores categóricos
df.select_dtypes(include='number').groupby(df['Type 1']).mean().sort_values('HP',ascending= False)
#pega apenas os valores numéricos
# ordena a partir da média de hp do maior para o menor

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation
Type 1,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852
Phantom,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391

## Quantidade por grupo

In [58]:
df.groupby(df['Type 1']).count().sort_values('#',ascending= False)['#']

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Phantom      32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: #, dtype: int64

In [73]:
df.groupby(['Type 1', 'Type 2'])['#'].count()

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Grass        6
                    ..
Water   Phantom      2
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: #, Length: 136, dtype: int64

# Trabalhando com grandes conjuntos de dados

In [76]:
chunk_size = 200
for chunk in pd.read_csv('data/modified/pokemon.csv', chunksize=chunk_size):
    print(chunk.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk
0  1              Bulbasaur  Grass  Poison  45      49       49       65  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Total  Generation  Legendary
0       65     45    318           1      False
1       80     60    405           1      False
2      100     80    525           1      False
3      120     80    625           1      False
4       50     65    309           1      False
       #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def
200  185  Sudowoodo   Rock     NaN  70     100      115       30       65  \
201  186   Politoed  Water     NaN  90      75       75       90      100
202  187     Hoppip  Grass  Flying  35      35       40       35       55
203  188   Skiploom  Grass  Flying  55      45       50       45       65
204  189   Jumpluff  Grass  Flying  75      55       70       55       95

     Speed  Total  Generation  Legendary
200     30    410           2      False
201     70    500           2      False
202     50    250           2      False
203     80    340           2      False
204    110    460           2      False
       #       Name Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def
400  365    Walrein    Ice  Water  110      80       90       95       90  \
401  366   Clamperl  Water    NaN   35      64       85       74       55
402  367    Huntail  Water    NaN   55     104      105       94       75
403  368   Gorebyss  Water    NaN   55      84      105      114       75
404  369  Relicanth  Water   Rock  100      90      130       45       65

     Speed  Total  Generation  Legendary
400     65    530           3      False
401     32    345           3      False
402     52    485           3      False
403     52    485           3      False
404     55    485           3      False
       #        Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def
600  540    Sewaddle    Bug   Grass  45      53       70       40       60  \
601  541    Swadloon    Bug   Grass  55      63       90       50       80
602  542    Leavanny    Bug   Grass  75     103       80       70       80
603  543    Venipede    Bug  Poison  30      45       59       30       39
604  544  Whirlipede    Bug  Poison  40      55       99       40       79

     Speed  Total  Generation  Legendary
600     42    310           5      False
601     42    380           5      False
602     92    500           5      False
603     57    260           5      False
604     47    360           5      False